{% extends 'core.html' %}



{% block main %}

<div class="card shadow m-2">

    <div class="card-body">
        <a href="{% url 'edit_education' %}" class="btn btn-primary float-right btn-sm">Edit Education Detail</a>
        <h5 class="p-2 text-danger" style=" border-bottom: 2px solid gray;">My Education Details</h5>

        <div class="container-fluid">
            <table class="table table-bordered">
                <tr>
                    <th>Undergraduate Course Name</th>
                    <td>{{education.courseug}}</td>

                </tr>
                <tr>
                    <th>Undergraduate School/College</th>
                    <td>{{education.schoolclgug}}</td>

                </tr>
                <tr>
                    <th>Year of Passing in UG</th>
                    <td>{{education.yearofpassingug}}</td>

                </tr>
                <tr>
                    <th>Percentage in UG</th>
                    <td>{{education.percentageug}}</td>

                </tr>

                <tr>
                    <th>Post Graduation Course Name</th>
                    <td>{{education.coursepg}}</td>

                </tr>
                <tr>
                    <th>Post Graduation School/College</th>
                    <td>{{education.schoolclgpg}}</td>

                </tr>
                <tr>
                    <th>Year of Passing in PG</th>
                    <td>{{education.yearofpassingpg}}</td>

                </tr>
                <tr>
                    <th>Percentage in PG</th>
                    <td>{{education.percentagepg}}</td>

                </tr>


                <tr>
                    <th>SSC Course Name</th>
                    <td>{{education.coursessc}}</td>

                </tr>
                <tr>
                    <th>SSC School/College</th>
                    <td>{{education.schoolclgssc}}</td>

                </tr>
                <tr>
                    <th>Year of Passing in SSC</th>
                    <td>{{education.yearofpassingssc}}</td>

                </tr>
                <tr>
                    <th>Percentage in SSC</th>
                    <td>{{education.percentagessc}}</td>

                </tr>

                <tr>
                    <th>HSC Course Name</th>
                    <td>{{education.coursehsc}}</td>

                </tr>
                <tr>
                    <th>HSC School/College</th>
                    <td>{{education.schoolclghsc}}</td>

                </tr>
                <tr>
                    <th>Year of Passing in HSC</th>
                    <td>{{education.yearofpassinghsc}}</td>

                </tr>
                <tr>
                    <th>Percentage in HSC</th>
                    <td>{{education.percentagehsc}}</td>

                </tr>             


            </table>

        </div>

    </div>

</div>




{% endblock %}